div	{
	width: 100px;
	height: 100px;
}

#div-1 {
	border: 3px black;
	border-radius: 10px;
	background-color: red;
}

#div-2 {
	border: 3px black;
	border-radius: 50px;
	background-color: green;
}

#div-3 {
	border: 3px black;
	border-radius: 100px;
	background-color: blue;
}

p {
	font-weight: bold;
}

