#div1{
	width: 200px;
	height: 200px;
	background-color: cyan;
	box-shadow: 15px 15px 20px dimgray;
}

#div2{
	width: 200px;
	height: 200px;
	background-color: lightyellow;
	box-shadow: -15px -15px 30px dimgray;
}

#div3{
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	box-shadow: 15px 15px 10px dimgray;
}